# Pandas

In [4]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv') # read_csv reads a .csv file

In [6]:
df # df - pandas DataFrame

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## basic analysis

In [7]:
df.info() 
# object = string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Filtering

In [10]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [11]:
df.groupby(['species']).mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [12]:
df.groupby(['species']).max()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5

In [13]:
df.groupby(['species']).min()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               4.3          2.3           1.0          0.1
versicolor           4.9          2.0           3.0          1.0
virginica            4.9          2.2           4.5          1.4

## Indexing

In [16]:
setosa = df[df['species'] == 'setosa']

In [18]:
setosa.head() # head returns the first 5 rows

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
setosa.tail() # tail returns the last 5 rows

    sepal_length  sepal_width  petal_length  petal_width species
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [24]:
# get the center of the setosa
center = len(setosa) // 2
center

25

In [22]:
setosa.iloc[10] # iloc - index location

sepal_length       5.4
sepal_width        3.7
petal_length       1.5
petal_width        0.2
species         setosa
Name: 10, dtype: object

In [25]:
setosa.iloc[center - 5: center]

    sepal_length  sepal_width  petal_length  petal_width species
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa

In [26]:
# Exercise 1
# - Using the Iris DataFrame, print out the 50th row.


# - Get the 50th to 60th row of the Iris DataFrame skipping every other row and return a new DataFrame of just
# the species, petal_length, and petal_width


# - Group the data by species and get the median and the sum of sepal_length for each group

In [27]:
df.iloc[49]

sepal_length       5.0
sepal_width        3.3
petal_length       1.4
petal_width        0.2
species         setosa
Name: 49, dtype: object

In [29]:
new_df = df.iloc[49: 60: 2]
new_df = new_df[['species', 'petal_length', 'petal_width']]
new_df

       species  petal_length  petal_width
49      setosa           1.4          0.2
51  versicolor           4.5          1.5
53  versicolor           4.0          1.3
55  versicolor           4.5          1.3
57  versicolor           3.3          1.0
59  versicolor           3.9          1.4

In [30]:
df.groupby('species').median()['sepal_length']

species
setosa        5.0
versicolor    5.9
virginica     6.5
Name: sepal_length, dtype: float64

In [31]:
df.groupby('species').sum()['sepal_length']

species
setosa        250.3
versicolor    296.8
virginica     329.4
Name: sepal_length, dtype: float64